@model XWingTO.Web.ViewModels.Home.MyHomeViewModel

Upcoming Events

@if (Model.UpcomingEvents.Any())
{
	<div></div>
}
else
{
	<div>
		You have no upcoming tournaments.
	</div>
}

Previous Events

@if (Model.PreviousEvents.Any())
{
	<div></div>
}
else
{
	<div>
		You have no previous tournaments.
	</div>
}
