/* Binary Sunset https://twitter.com/StarWarsUK/status/1594269327951368192 */

.colour1 {
    color: #8d4d65;
}

.colour2 {
    color: #674560;
}

.colour3 {
    color: #3f2d39;
}

.colour4 {
    color: #4a3d44;
}

.colour5 {
    color: #1d0f0e;
}

.colour6 {
    color: #322826;
}

.colour7 {
    color: #402a2c;
}

.colour8 {
    color: #554142;
}

.colour9 {
    color: #d2bdb8;
}

.colour10 {
    color: #cb7449;
}