.colour1{
    color: #17263d;
}

.colour2{
    color: #708eb4;
}

.colour3{
    color: #3d586d;
}

.colour4{
    color: #1d1c21;
}

.colour5{
    color: #b45664;
}

.colour6{
    color: #3fd9b5;
}

.colour7{
    color: #d29cbe;
}

.colour8{
    color: #4b343e;
}

.colour9{
    color: #405c8b;
}

.colour10{
    color: #273657;
}