.colour1{
    color: #c1c0c6;
}

.colour2{
    color: #46575e;
}

.colour3{
    color: #6385a0;
}

.colour4{
    color: #c5aebe;
}

.colour5{
    color: #bababa;
}

.colour6{
    color: #7c8393;
}

.colour7{
    color: #8f98a1;
}

.colour8{
    color: #d0cfca;
}

.colour9{
    color: #172123;
}

.colour10{
    color: #37545c;
}