.colour1{
    color: #b8ac7c;
}

.colour2{
    color: #93845d;
}

.colour3{
    color: #dfd075;
}

.colour4{
    color: #ecedce;
}

.colour5{
    color: #9aa28d;
}

.colour6{
    color: #927320;
}

.colour7{
    color: #4b4217;
}

.colour8{
    color: #87897b;
}

.colour9{
    color: #e4e4e2;
}

.colour10{
    color: #2d250e;
}