.colour1{
    color: #54423e;
}

.colour2{
    color: #211000;
}

.colour3{
    color: #fd7b01;
}

.colour4{
    color: #504239;
}

.colour5{
    color: #3b3130;
}

.colour6{
    color: #190f0e;
}

.colour7{
    color: #983224;
}

.colour8{
    color: #4e3a39;
}

.colour9{
    color: #5c382c;
}

.colour10{
    color: #824f3e;
}