.colour1{
    color: #ce8e72;
}

.colour2{
    color: #756253;
}

.colour3{
    color: #5b342f;
}

.colour4{
    color: #482b30;
}

.colour5{
    color: #f7da8e;
}

.colour6{
    color: #dda074;
}

.colour7{
    color: #e494f7;
}

.colour8{
    color: #f49a80;
}

.colour9{
    color: #6d4d4d;
}

.colour10{
    color: #c9ae5f;
}