.colour1{
    color: #857a3a;
}

.colour2{
    color: #ceb39a;
}

.colour3{
    color: #3d6678;
}

.colour4{
    color: #4a4003;
}

.colour5{
    color: #745843;
}

.colour6{
    color: #c5cdc2;
}

.colour7{
    color: #4a5a57;
}

.colour8{
    color: #4c6142;
}

.colour9{
    color: #ded6d4;
}

.colour10{
    color: #a3b5c3;
}