@model XWingTO.Web.ViewModels.Tournament.CreateTournamentViewModel

@{
	Layout = "_Layout";
}

<form method="post" asp-controller="Tournament" asp-action="Create">
	<div class="row">
		<div class="col-2">
			<label asp-for="Name"></label>
		</div>
		<input asp-for="Name" class="col-4">
		<div class="col-2">
			<label asp-for="Date"></label>
		</div>
		<input asp-for="Date" class="col-4" min="@DateTime.Today.AddDays(1).ToString("yyyy-MM-dd")">
	</div>
	<p class="h5">Location</p>
	<div class="row">
		<div class="col-2">
			<label asp-for="Country"></label>
		</div>
		<input asp-for="Country" class="col-4">
		<div class="col-2">
			<label asp-for="State"></label>
		</div>
		<input asp-for="State" class="col-4">
	</div>
    <div class="row">
        <div class="col-2">
            <label asp-for="City"></label>
        </div>
        <input asp-for="City" class="col-4">
        <div class="col-2">
            <label asp-for="Venue"></label>
        </div>
        <input asp-for="Venue" class="col-4">
    </div>
    <div class="row">
        <div class="col-2">
            <label asp-for="Format"></label>
        </div>
		<select class="col-4" asp-for="Format" asp-items="Html.GetEnumSelectList<TournamentFormat>()"></select>
    </div>

	<input type="submit" class="btn btn-primary" />
</form>